---
import { Icon } from "astro-icon";
import ThemeSwitcher from "~/components/theme-switcher.astro";

const navItems = [
  // { title: "Features", url: "#features" },
  { title: "Accelerator", url: "#accelerator" },
  { title: "Apply", url: "#form" },
];
---

<header
  id="page-header"
  class="absolute bottom-0  z-50 flex items-center justify-center w-full  text-white border-b border-transparent"
>
<div class=" max-w-7xl flex items-center justify-between w-full px-6 py-4  text-white border-b border-transparent">
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Grow Your OnlyFans</h1>
    <svg width="50%" viewBox="0 0 594 183" fill="none" 
    xmlns="http://www.w3.org/2000/svg"
    class="logomark wordmark"
  >
    <g clip-path="url(#clip0_1_2)">
      <path d="M101.668 88.2517C101.838 90.8626 101.951 93.4168 102.008 95.9141C102.122 98.4115 102.178 100.795 102.178 103.066C102.178 121.285 99.1986 134.766 93.239 143.506C87.336 152.19 78.2263 156.532 65.9096 156.532C53.1957 156.532 44.0007 151.594 38.3249 141.718C32.649 131.842 29.8111 115.581 29.8111 92.9343C29.8111 70.0038 32.649 53.6289 38.3249 43.8096C44.0575 33.9903 53.4227 29.0807 66.4204 29.0807C75.6154 29.0807 83.0224 31.2659 88.6415 35.6363C94.2606 39.95 98.1202 46.5056 100.22 55.3033L85.4062 62.4549C84.2143 56.3817 82.0575 51.8693 78.9357 48.9179C75.814 45.9664 71.699 44.4907 66.5907 44.4907C59.3256 44.4907 54.1889 47.9814 51.1807 54.9627C48.2293 61.8873 46.7535 74.431 46.7535 92.5938C46.7535 110.586 48.2293 123.102 51.1807 130.14C54.1889 137.178 59.3256 140.697 66.5907 140.697C73.0612 140.697 77.9141 138.029 81.1493 132.694C84.4413 127.358 86.0874 119.384 86.0874 108.77C86.0874 107.181 86.059 105.989 86.0022 105.194C86.0022 104.343 85.9738 103.577 85.9171 102.895H68.1232V88.2517H101.668ZM136.404 84.761H141.597C148.408 84.761 153.205 83.1718 155.986 79.9933C158.824 76.8148 160.243 71.1957 160.243 63.136C160.243 56.4384 158.88 51.8126 156.156 49.2584C153.488 46.6475 148.465 45.3421 141.087 45.3421H136.404V84.761ZM136.404 94.2965V155H119.632V30.6983H139.895C153.346 30.6983 162.91 33.1957 168.586 38.1905C174.319 43.1853 177.185 51.5004 177.185 63.136C177.185 72.3309 175.227 79.5109 171.311 84.6759C167.394 89.7842 161.548 92.8208 153.772 93.7857L183.315 155H165.351L136.915 94.2965H136.404ZM208.857 92.5938C208.857 110.189 210.276 122.619 213.113 129.884C216.008 137.093 220.804 140.697 227.502 140.697C234.143 140.697 238.825 137.263 241.55 130.395C244.274 123.527 245.636 110.927 245.636 92.5938C245.636 74.7147 244.246 62.2562 241.464 55.2181C238.683 48.18 233.972 44.661 227.332 44.661C220.634 44.661 215.866 48.2084 213.028 55.3033C210.247 62.3981 208.857 74.8283 208.857 92.5938ZM191.914 92.9343C191.914 70.174 194.667 53.8559 200.172 43.9799C205.735 34.0471 214.788 29.0807 227.332 29.0807C239.818 29.0807 248.815 34.0187 254.32 43.8947C259.826 53.714 262.579 70.0605 262.579 92.9343C262.579 115.695 259.826 131.984 254.32 141.804C248.815 151.623 239.818 156.532 227.332 156.532C214.788 156.532 205.735 151.623 200.172 141.804C194.667 131.984 191.914 115.695 191.914 92.9343ZM293.569 155L272.71 30.6983H289.227L301.317 115.751L315.79 30.6983H329.497L344.141 115.751L356.06 30.6983H372.577L351.889 155H338.096L322.686 66.7969L307.191 155H293.569Z" fill="white" />
      <path d="M406.637 56.6236L397.872 30.2974H402.318L408.876 51.7934L415.306 30.2974H419.624L410.891 56.7516V77H406.637V56.6236ZM433.571 33.6242C431.097 33.6242 429.274 35.2343 428.101 38.4544C426.949 41.6532 426.373 46.7073 426.373 53.6167C426.373 60.5262 426.949 65.6016 428.101 68.843C429.274 72.0632 431.097 73.6732 433.571 73.6732C436.066 73.6732 437.889 72.0845 439.041 68.907C440.214 65.7082 440.8 60.6115 440.8 53.6167C440.8 46.6433 440.214 41.5679 439.041 38.3904C437.889 35.2129 436.066 33.6242 433.571 33.6242ZM421.991 53.6807C421.991 45.4918 422.929 39.446 424.806 35.5435C426.683 31.6409 429.604 29.6897 433.571 29.6897C437.537 29.6897 440.459 31.6409 442.335 35.5435C444.233 39.446 445.182 45.4918 445.182 53.6807C445.182 61.8697 444.233 67.9047 442.335 71.7859C440.459 75.6458 437.537 77.5758 433.571 77.5758C429.604 77.5758 426.683 75.6458 424.806 71.7859C422.929 67.9047 421.991 61.8697 421.991 53.6807ZM452.284 30.2974H456.57V63.693C456.57 67.5955 456.986 70.2612 457.818 71.69C458.649 73.0975 460.11 73.8012 462.2 73.8012C464.29 73.8012 465.751 73.0975 466.582 71.69C467.414 70.2612 467.83 67.5955 467.83 63.693V30.2974H472.084V63.693C472.084 68.8537 471.327 72.4577 469.813 74.5049C468.32 76.5522 465.783 77.5758 462.2 77.5758C458.596 77.5758 456.037 76.5522 454.523 74.5049C453.03 72.4577 452.284 68.8537 452.284 63.693V30.2974ZM485.871 34.232V51.1217H487.886C490.254 51.1217 491.981 50.4606 493.068 49.1384C494.156 47.7949 494.7 45.6624 494.7 42.7408C494.7 39.7339 494.167 37.5694 493.1 36.2472C492.034 34.9037 490.296 34.232 487.886 34.232H485.871ZM481.585 30.2974H486.767C491.245 30.2974 494.412 31.2358 496.267 33.1124C498.144 34.9677 499.082 38.1132 499.082 42.5489C499.082 46.2595 498.379 49.0638 496.971 50.9617C495.564 52.8597 493.388 53.9153 490.445 54.1285L500.586 77H496.139L485.871 52.881V77H481.585V30.2974ZM412.011 111.624C409.537 111.624 407.714 113.234 406.541 116.454C405.389 119.653 404.813 124.707 404.813 131.617C404.813 138.526 405.389 143.602 406.541 146.843C407.714 150.063 409.537 151.673 412.011 151.673C414.506 151.673 416.329 150.085 417.481 146.907C418.654 143.708 419.24 138.611 419.24 131.617C419.24 124.643 418.654 119.568 417.481 116.39C416.329 113.213 414.506 111.624 412.011 111.624ZM400.431 131.681C400.431 123.492 401.369 117.446 403.246 113.543C405.123 109.641 408.044 107.69 412.011 107.69C415.977 107.69 418.899 109.641 420.775 113.543C422.673 117.446 423.622 123.492 423.622 131.681C423.622 139.87 422.673 145.905 420.775 149.786C418.899 153.646 415.977 155.576 412.011 155.576C408.044 155.576 405.123 153.646 403.246 149.786C401.369 145.905 400.431 139.87 400.431 131.681ZM430.788 108.297H434.466L445.022 140.254C445.172 140.701 445.47 141.8 445.918 143.548C446.366 145.276 446.92 147.451 447.581 150.074C447.24 147.28 446.984 144.423 446.814 141.501C446.664 138.579 446.59 135.562 446.59 132.448V108.297H450.268V155H446.59L436.29 123.556C435.821 122.063 435.351 120.485 434.882 118.822C434.413 117.137 433.923 115.239 433.411 113.128C433.773 116.433 434.04 119.547 434.21 122.468C434.381 125.39 434.466 128.109 434.466 130.625V155H430.788V108.297ZM459.641 108.297H463.927V151.129H473.94V155H459.641V108.297ZM482.384 134.624L473.62 108.297H478.066L484.624 129.793L491.053 108.297H495.372L486.639 134.752V155H482.384V134.624ZM500.01 108.297H514.692V112.232H504.296V128.802H514.564V132.544H504.296V155H500.01V108.297ZM527.999 120.069L524.161 141.821H533.373L529.599 120.037C529.45 119.184 529.311 118.171 529.183 116.998C529.055 115.804 528.948 114.503 528.863 113.096C528.757 114.439 528.629 115.687 528.479 116.838C528.351 117.99 528.191 119.067 527.999 120.069ZM526.752 108.297H530.814L540.315 155H535.996L534.173 145.564H523.489L521.858 155H517.475L526.752 108.297ZM545.241 108.297H548.92L559.476 140.254C559.625 140.701 559.924 141.8 560.371 143.548C560.819 145.276 561.374 147.451 562.035 150.074C561.694 147.28 561.438 144.423 561.267 141.501C561.118 138.579 561.043 135.562 561.043 132.448V108.297H564.722V155H561.043L550.743 123.556C550.274 122.063 549.805 120.485 549.335 118.822C548.866 117.137 548.376 115.239 547.864 113.128C548.227 116.433 548.493 119.547 548.664 122.468C548.834 125.39 548.92 128.109 548.92 130.625V155H545.241V108.297ZM572.271 147.803C573.401 149.061 574.585 150.01 575.822 150.65C577.058 151.289 578.349 151.609 579.692 151.609C581.867 151.609 583.648 150.82 585.034 149.242C586.442 147.664 587.145 145.628 587.145 143.132C587.145 142.066 586.996 141.085 586.698 140.19C586.42 139.294 585.983 138.462 585.386 137.694C584.469 136.522 582.848 135.082 580.524 133.376C579.586 132.694 578.892 132.171 578.445 131.809C576.078 129.889 574.371 128.002 573.327 126.147C572.282 124.27 571.759 122.18 571.759 119.877C571.759 116.38 572.793 113.48 574.862 111.176C576.931 108.852 579.522 107.69 582.635 107.69C583.872 107.69 585.087 107.903 586.282 108.329C587.497 108.756 588.681 109.396 589.832 110.249V115.751C588.894 114.428 587.828 113.426 586.634 112.744C585.439 112.04 584.17 111.688 582.827 111.688C580.801 111.688 579.159 112.413 577.901 113.863C576.643 115.292 576.014 117.169 576.014 119.493C576.014 121.455 576.44 123.151 577.293 124.579C578.146 125.987 580.161 127.874 583.339 130.241C586.623 132.651 588.787 134.752 589.832 136.543C590.877 138.313 591.4 140.424 591.4 142.877C591.4 146.587 590.334 149.637 588.201 152.025C586.068 154.392 583.36 155.576 580.076 155.576C578.647 155.576 577.293 155.395 576.014 155.032C574.734 154.669 573.486 154.115 572.271 153.369V147.803Z" fill="white" />
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect width="594" height="183" fill="white" />
      </clipPath>
    </defs>
  </svg>
   
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
      <!-- <ThemeSwitcher /> -->
    </div>
    <div id="menu-modal" class="hidden modal" aria-hidden="true">
      <div class="fixed inset-0 px-8 py-4 bg-default text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <div class="flex justify-center invert">
            <svg width="50%" viewBox="0 0 594 183" fill="none" 
    xmlns="http://www.w3.org/2000/svg"
    class="logomark wordmark"
  >
    <g clip-path="url(#clip0_1_2)">
      <path d="M101.668 88.2517C101.838 90.8626 101.951 93.4168 102.008 95.9141C102.122 98.4115 102.178 100.795 102.178 103.066C102.178 121.285 99.1986 134.766 93.239 143.506C87.336 152.19 78.2263 156.532 65.9096 156.532C53.1957 156.532 44.0007 151.594 38.3249 141.718C32.649 131.842 29.8111 115.581 29.8111 92.9343C29.8111 70.0038 32.649 53.6289 38.3249 43.8096C44.0575 33.9903 53.4227 29.0807 66.4204 29.0807C75.6154 29.0807 83.0224 31.2659 88.6415 35.6363C94.2606 39.95 98.1202 46.5056 100.22 55.3033L85.4062 62.4549C84.2143 56.3817 82.0575 51.8693 78.9357 48.9179C75.814 45.9664 71.699 44.4907 66.5907 44.4907C59.3256 44.4907 54.1889 47.9814 51.1807 54.9627C48.2293 61.8873 46.7535 74.431 46.7535 92.5938C46.7535 110.586 48.2293 123.102 51.1807 130.14C54.1889 137.178 59.3256 140.697 66.5907 140.697C73.0612 140.697 77.9141 138.029 81.1493 132.694C84.4413 127.358 86.0874 119.384 86.0874 108.77C86.0874 107.181 86.059 105.989 86.0022 105.194C86.0022 104.343 85.9738 103.577 85.9171 102.895H68.1232V88.2517H101.668ZM136.404 84.761H141.597C148.408 84.761 153.205 83.1718 155.986 79.9933C158.824 76.8148 160.243 71.1957 160.243 63.136C160.243 56.4384 158.88 51.8126 156.156 49.2584C153.488 46.6475 148.465 45.3421 141.087 45.3421H136.404V84.761ZM136.404 94.2965V155H119.632V30.6983H139.895C153.346 30.6983 162.91 33.1957 168.586 38.1905C174.319 43.1853 177.185 51.5004 177.185 63.136C177.185 72.3309 175.227 79.5109 171.311 84.6759C167.394 89.7842 161.548 92.8208 153.772 93.7857L183.315 155H165.351L136.915 94.2965H136.404ZM208.857 92.5938C208.857 110.189 210.276 122.619 213.113 129.884C216.008 137.093 220.804 140.697 227.502 140.697C234.143 140.697 238.825 137.263 241.55 130.395C244.274 123.527 245.636 110.927 245.636 92.5938C245.636 74.7147 244.246 62.2562 241.464 55.2181C238.683 48.18 233.972 44.661 227.332 44.661C220.634 44.661 215.866 48.2084 213.028 55.3033C210.247 62.3981 208.857 74.8283 208.857 92.5938ZM191.914 92.9343C191.914 70.174 194.667 53.8559 200.172 43.9799C205.735 34.0471 214.788 29.0807 227.332 29.0807C239.818 29.0807 248.815 34.0187 254.32 43.8947C259.826 53.714 262.579 70.0605 262.579 92.9343C262.579 115.695 259.826 131.984 254.32 141.804C248.815 151.623 239.818 156.532 227.332 156.532C214.788 156.532 205.735 151.623 200.172 141.804C194.667 131.984 191.914 115.695 191.914 92.9343ZM293.569 155L272.71 30.6983H289.227L301.317 115.751L315.79 30.6983H329.497L344.141 115.751L356.06 30.6983H372.577L351.889 155H338.096L322.686 66.7969L307.191 155H293.569Z" fill="white" />
      <path d="M406.637 56.6236L397.872 30.2974H402.318L408.876 51.7934L415.306 30.2974H419.624L410.891 56.7516V77H406.637V56.6236ZM433.571 33.6242C431.097 33.6242 429.274 35.2343 428.101 38.4544C426.949 41.6532 426.373 46.7073 426.373 53.6167C426.373 60.5262 426.949 65.6016 428.101 68.843C429.274 72.0632 431.097 73.6732 433.571 73.6732C436.066 73.6732 437.889 72.0845 439.041 68.907C440.214 65.7082 440.8 60.6115 440.8 53.6167C440.8 46.6433 440.214 41.5679 439.041 38.3904C437.889 35.2129 436.066 33.6242 433.571 33.6242ZM421.991 53.6807C421.991 45.4918 422.929 39.446 424.806 35.5435C426.683 31.6409 429.604 29.6897 433.571 29.6897C437.537 29.6897 440.459 31.6409 442.335 35.5435C444.233 39.446 445.182 45.4918 445.182 53.6807C445.182 61.8697 444.233 67.9047 442.335 71.7859C440.459 75.6458 437.537 77.5758 433.571 77.5758C429.604 77.5758 426.683 75.6458 424.806 71.7859C422.929 67.9047 421.991 61.8697 421.991 53.6807ZM452.284 30.2974H456.57V63.693C456.57 67.5955 456.986 70.2612 457.818 71.69C458.649 73.0975 460.11 73.8012 462.2 73.8012C464.29 73.8012 465.751 73.0975 466.582 71.69C467.414 70.2612 467.83 67.5955 467.83 63.693V30.2974H472.084V63.693C472.084 68.8537 471.327 72.4577 469.813 74.5049C468.32 76.5522 465.783 77.5758 462.2 77.5758C458.596 77.5758 456.037 76.5522 454.523 74.5049C453.03 72.4577 452.284 68.8537 452.284 63.693V30.2974ZM485.871 34.232V51.1217H487.886C490.254 51.1217 491.981 50.4606 493.068 49.1384C494.156 47.7949 494.7 45.6624 494.7 42.7408C494.7 39.7339 494.167 37.5694 493.1 36.2472C492.034 34.9037 490.296 34.232 487.886 34.232H485.871ZM481.585 30.2974H486.767C491.245 30.2974 494.412 31.2358 496.267 33.1124C498.144 34.9677 499.082 38.1132 499.082 42.5489C499.082 46.2595 498.379 49.0638 496.971 50.9617C495.564 52.8597 493.388 53.9153 490.445 54.1285L500.586 77H496.139L485.871 52.881V77H481.585V30.2974ZM412.011 111.624C409.537 111.624 407.714 113.234 406.541 116.454C405.389 119.653 404.813 124.707 404.813 131.617C404.813 138.526 405.389 143.602 406.541 146.843C407.714 150.063 409.537 151.673 412.011 151.673C414.506 151.673 416.329 150.085 417.481 146.907C418.654 143.708 419.24 138.611 419.24 131.617C419.24 124.643 418.654 119.568 417.481 116.39C416.329 113.213 414.506 111.624 412.011 111.624ZM400.431 131.681C400.431 123.492 401.369 117.446 403.246 113.543C405.123 109.641 408.044 107.69 412.011 107.69C415.977 107.69 418.899 109.641 420.775 113.543C422.673 117.446 423.622 123.492 423.622 131.681C423.622 139.87 422.673 145.905 420.775 149.786C418.899 153.646 415.977 155.576 412.011 155.576C408.044 155.576 405.123 153.646 403.246 149.786C401.369 145.905 400.431 139.87 400.431 131.681ZM430.788 108.297H434.466L445.022 140.254C445.172 140.701 445.47 141.8 445.918 143.548C446.366 145.276 446.92 147.451 447.581 150.074C447.24 147.28 446.984 144.423 446.814 141.501C446.664 138.579 446.59 135.562 446.59 132.448V108.297H450.268V155H446.59L436.29 123.556C435.821 122.063 435.351 120.485 434.882 118.822C434.413 117.137 433.923 115.239 433.411 113.128C433.773 116.433 434.04 119.547 434.21 122.468C434.381 125.39 434.466 128.109 434.466 130.625V155H430.788V108.297ZM459.641 108.297H463.927V151.129H473.94V155H459.641V108.297ZM482.384 134.624L473.62 108.297H478.066L484.624 129.793L491.053 108.297H495.372L486.639 134.752V155H482.384V134.624ZM500.01 108.297H514.692V112.232H504.296V128.802H514.564V132.544H504.296V155H500.01V108.297ZM527.999 120.069L524.161 141.821H533.373L529.599 120.037C529.45 119.184 529.311 118.171 529.183 116.998C529.055 115.804 528.948 114.503 528.863 113.096C528.757 114.439 528.629 115.687 528.479 116.838C528.351 117.99 528.191 119.067 527.999 120.069ZM526.752 108.297H530.814L540.315 155H535.996L534.173 145.564H523.489L521.858 155H517.475L526.752 108.297ZM545.241 108.297H548.92L559.476 140.254C559.625 140.701 559.924 141.8 560.371 143.548C560.819 145.276 561.374 147.451 562.035 150.074C561.694 147.28 561.438 144.423 561.267 141.501C561.118 138.579 561.043 135.562 561.043 132.448V108.297H564.722V155H561.043L550.743 123.556C550.274 122.063 549.805 120.485 549.335 118.822C548.866 117.137 548.376 115.239 547.864 113.128C548.227 116.433 548.493 119.547 548.664 122.468C548.834 125.39 548.92 128.109 548.92 130.625V155H545.241V108.297ZM572.271 147.803C573.401 149.061 574.585 150.01 575.822 150.65C577.058 151.289 578.349 151.609 579.692 151.609C581.867 151.609 583.648 150.82 585.034 149.242C586.442 147.664 587.145 145.628 587.145 143.132C587.145 142.066 586.996 141.085 586.698 140.19C586.42 139.294 585.983 138.462 585.386 137.694C584.469 136.522 582.848 135.082 580.524 133.376C579.586 132.694 578.892 132.171 578.445 131.809C576.078 129.889 574.371 128.002 573.327 126.147C572.282 124.27 571.759 122.18 571.759 119.877C571.759 116.38 572.793 113.48 574.862 111.176C576.931 108.852 579.522 107.69 582.635 107.69C583.872 107.69 585.087 107.903 586.282 108.329C587.497 108.756 588.681 109.396 589.832 110.249V115.751C588.894 114.428 587.828 113.426 586.634 112.744C585.439 112.04 584.17 111.688 582.827 111.688C580.801 111.688 579.159 112.413 577.901 113.863C576.643 115.292 576.014 117.169 576.014 119.493C576.014 121.455 576.44 123.151 577.293 124.579C578.146 125.987 580.161 127.874 583.339 130.241C586.623 132.651 588.787 134.752 589.832 136.543C590.877 138.313 591.4 140.424 591.4 142.877C591.4 146.587 590.334 149.637 588.201 152.025C586.068 154.392 583.36 155.576 580.076 155.576C578.647 155.576 577.293 155.395 576.014 155.032C574.734 154.669 573.486 154.115 572.271 153.369V147.803Z" fill="white" />
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect width="594" height="183" fill="white" />
      </clipPath>
    </defs>
  </svg>
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-xl text-center" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<script>
  import MicroModal from "micromodal";

  const menuModalId = "menu-modal";

  const header: HTMLElement = document.querySelector("#page-header");
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed top-0 bottom-auto;
    @apply text-white bg-black border-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
